# Node modules
node_modules/

# Build outputs
dist/
build/

# Logs
*.log

# Env files
.env

# OS files
.DS_Store
Thumbs.db

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore by default
.idea/
.vscode/
